<template>
<div class="fluid-container">
  <header class="text-left">
    <section class="header">
      <div class="header-text">
      <h1 class="display-3">221B</h1>
      <p class=" w-50 subtitle">For when you need it done quickly, beautifully, and correctly. Whatever it may be.</p>
      <a href="mailto:inquiries@221b.io" class="btn btn-primary text-white" style="font-size: 18px;">Let's build something great together</a>
      </div>
    </section>
</header>
  <section class="bg-gray p-0">
    <div class="row">
            <div class="col-md-5 text-center">
        <ParticleNetwork/>
      </div>
      <div class="col-md-7 p-5">
        <div style="max-width: 500px;" class="mx-auto text-center">
        <h3 class="text-blue mb-5">Our Values</h3>
        <p>
          <span class="lead" style="font-weight: bold;">How many lives can we save?</span> We ask ourselves this question constantly.
          When there's room for a solution to a serious problem, a solution that could help save or improve 
          lives, you'll find us there.
        </p>
        <p class="text-gray">
          Make it <strong>good</strong>. Make it <strong>fast</strong>. Make it <strong>robust</strong>. Make it <strong>scalable</strong>. Make it <strong>easy</strong>. Make it <strong>accessible</strong>. Make it <strong>fun to use</strong>.</p>
          <hr>
          <p class="mt-4">Be <strong>transparent</strong>. Be <strong>results-focused</strong>. Be <strong>helpful</strong>. Be <strong>aggressively ethical</strong>.
        </p>
        </div>
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center text-blue">About Us</h3>
        <p class="text-gray text-center w-70 m-auto">
          We specialize in rapid incremental prototyping, 
          giving our clients beautiful software written using 
          universally-agreed-upon best practices, consistently 
          user-testing along the way to make sure we're 
          always hitting the bullseye.
        </p>
      </div>
    </div>
  </section> -->

  <section>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center text-blue">Services</h3>
        <!-- <p class="text-gray text-center w-70 m-auto">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p> -->
      </div>
      <div class="col-md-12 mt-4">
        <div class="row">
          <div class="col-lg-4 mb-5">
            <h5 class="text-center text-blue">Consulting</h5>
            <p class="text-gray text-center m-auto">
              Not sure what kind of technology stack you should be using for your new 
              website? Have some questions about product design or strategy? We've been there.
              And now that we've done our own almost-too-thorough research, we're here to help.
            </p>
          </div>
          <div class="col-lg-4 mb-5">
            <h5 class="text-center text-blue">Development</h5>
            <p class="text-gray text-center m-auto">
              Clean, commented, well-written code that does what it's supposed to do. User-tested interfaces built using
              modern design standards and best practices. That's just how we work.
            </p>
          </div>
          <div class="col-lg-4 mb-5">
            <h5 class="text-center text-blue">Capacity Building</h5>
            <p class="text-gray text-center m-auto">
              We love working with you, and we also know you'd be happier 
              being able to handle the smaller things without having to hire out. 
              We offer employee training (hands-on or hands-off, whichever you prefer) 
              for you to gain the skills you need to be more self-sufficient as an organization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray">
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- <h3 class="text-center text-blue">Get in touch</h3> -->
        <p class="text-gray mx-auto lead" style="max-width:300px">
          Are you interested in what we do? Do you have questions, or need help with something?
        </p>
        <a href="mailto:inquiries@221b.io" class="btn btn-primary text-white" style="font-size: 18px;"><i class="fas fa-envelope text-white mr-2"></i>Email Us</a>

      </div>
    </div>
  </section>
      <section>
      <div class="row">
        <div class="col-md-12 mb-4">
          <h3 class="text-center text-blue">Team</h3>
    
        </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
               <img src="img/team/jeff.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Jeffrey Spies</h5>
           <span class="text-muted d-block mb-2">CEO at Megacorp</span>
           <p class="mb-1">Vivamus quis ex mattis, gravida erat a, iaculis urna. Proin ac eleifend tortor. Nunc in augue eget enim venenatis viverra.</p>
           <a href="https://twitter.com/jeffspies"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/jeffspies"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
             <img src="img/team/cam.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Cameron Blandford</h5>
           <span class="text-muted d-block mb-2">Software Engineer</span>
           <p class="mb-1">Nullam eu ligula facilisis, commodo velit non, vulputate dolor. Aenean congue euismod vestibulum.</p>
           <a href="https://twitter.com/CamBlandford"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/cameronblandford"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
             <img src="img/team/ryan.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Ryan Mason</h5>
           <span class="text-muted d-block mb-2">Software Engineer</span>
           <p class="mb-1"> Aenean imperdiet ultrices tortor id convallis. Donec id metus magna. Morbi pretium odio faucibus blandit gravida.</p>
           <a href="https://twitter.com/rytiggy"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/rytiggy"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>
     </div>



    </section>

  <!-- <section class="pt-3 pb-2">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-blue">Guiding Principles</h2>
      </div>
    </div>
  </section> -->
  <!-- <section class="pt-4">
    <div class="row">
      <div class="col-md-6">
        <ul class="text-gray">
          <li>Speed</li>
          <li>Exactness</li>
          <li>Rapid Iteration</li>
          <li>Your Satisfaction</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="text-gray">
          <li>User Friendliness</li>
          <li>Accessibility</li>
          <li>Transparency</li>
          <li>Communication</li>
        </ul>
      </div>
    </div>
  </section> -->
</div>
</template>

<script>
import ParticleNetwork from '~/components/ParticleNetwork.vue';
export default {
  components: {
    ParticleNetwork
  }
};
</script>
<style scoped>
.header {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('https://source.unsplash.com/random/1400x800') center center
    no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #0d305a, #0d305a);
    opacity: 0.9;
  }
}
.team-icon {
  width: 100px;
  height: 100px;
}
.team-icon img {
  border-radius: 50%;
}

.icon {
  border-radius: 50%;
  width: 70px;
  height: 43px;
  line-height: 43px;
}
</style>
