<template>
  <div class="fluid-container">
    <section>
      <div class="row">
        <div class="col-md-12 mb-4">
          <h3 class="text-center text-blue">Team</h3>
    
        </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
               <img src="img/team/jeff.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Jeffrey Spies</h5>
           <span class="text-muted d-block mb-2">CEO at Megacorp</span>
           <p class="mb-1">Vivamus quis ex mattis, gravida erat a, iaculis urna. Proin ac eleifend tortor. Nunc in augue eget enim venenatis viverra.</p>
           <a href="https://twitter.com/jeffspies"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/jeffspies"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
             <img src="img/team/cam.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Cameron Blandford</h5>
           <span class="text-muted d-block mb-2">Software Engineer</span>
           <p class="mb-1">Nullam eu ligula facilisis, commodo velit non, vulputate dolor. Aenean congue euismod vestibulum.</p>
           <a href="https://twitter.com/CamBlandford"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/cameronblandford"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>

         <div class="col-md-4 testimonial text-center">
           <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto team-icon">
             <img src="img/team/ryan.jpg" class="w-100" alt="icon" />
           </div>
           <h5 class="mb-1">Ryan Mason</h5>
           <span class="text-muted d-block mb-2">Software Engineer</span>
           <p class="mb-1"> Aenean imperdiet ultrices tortor id convallis. Donec id metus magna. Morbi pretium odio faucibus blandit gravida.</p>
           <a href="https://twitter.com/rytiggy"><i class="fab fa-twitter fa-2x text-gray"></i></a>
           <a href="https://github.com/rytiggy"><i class="fab fa-github fa-2x text-gray"></i></a>
         </div>
     </div>



    </section>
  </div>
</template>

<script>
export default {
}
</script>

<style>
  .team-icon {
    width: 100px;
    height: 100px;
  }
  .team-icon img {
    border-radius: 50%;
  }

  .icon {
    border-radius: 50%;
    width: 70px;
    height: 43px;
    line-height: 43px
  }
</style>
