<template>
  <canvas id="canvas"></canvas>
</template>

<script>
export default {
  mounted() {
    window.requestAnimFrame = (function() {
      return (
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function(/* function */ callback) {
          window.setTimeout(callback, 1000 / 60);
        }
      );
    })();

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var W = $('.connected-dots').width(),
      H = $('.connected-dots').height() + 50;
    canvas.width = W;
    canvas.height = H;
    var nodeCount = 20,
      nodes = [];
    function Node() {
      this.radius = 2;
      this.startx = 0;
      this.starty = Math.floor(Math.random() * canvas.height + this.radius);
      this.endx = Math.floor(Math.random() * canvas.width + this.radius);
      this.endy = Math.floor(Math.random() * canvas.height + this.radius);
      this.color = '#0d305a';
      this.speedstartx = Math.round(Math.random() * 201 + 0) / 1000;
      this.speedstarty = Math.round(Math.random() * 201 + 0) / 1000;
      this.speedendx = Math.round(Math.random() * 201 + 0) / 1000;
      this.speedendy = Math.round(Math.random() * 201 + 0) / 1000;
      this.hasLine = 0;

      this.move = function() {
        context.beginPath();
        context.globalCompositeOperation = 'source-over';
        context.fillStyle = this.color;
        context.globalAlpha = 1;
        context.arc(
          this.startx,
          this.starty,
          this.radius,
          0,
          Math.PI * 2,
          false
        );
        context.arc(this.endx, this.endy, this.radius, 0, Math.PI * 2, false);
        context.fill();
        context.closePath();

        context.beginPath();
        context.globalAlpha = 0.2;
        context.globalCompositeOperation = 'destination-over';
        context.lineWidth = 1;
        context.moveTo(this.startx, this.starty);
        context.lineTo(this.endx, this.endy);
        context.strokeStyle = this.color;
        context.lineCap = 'round';
        context.stroke();
        context.closePath();

        this.startx = this.startx + this.speedstartx;
        this.starty = this.starty + this.speedstarty;

        this.endx = this.endx + this.speedendx;
        this.endy = this.endy + this.speedendy;

        if (this.startx <= 0 + this.radius) {
          this.speedstartx *= -1;
        }
        if (this.startx >= canvas.width - this.radius) {
          this.speedstartx *= -1;
        }
        if (this.starty <= 0 + this.radius) {
          this.speedstarty *= -1;
        }
        if (this.starty >= canvas.height - this.radius) {
          this.speedstarty *= -1;
        }

        if (this.endx <= 0 + this.radius) {
          this.speedendx *= -1;
        }
        if (this.endx >= canvas.width - this.radius) {
          this.speedendx *= -1;
        }
        if (this.endy <= 0 + this.radius) {
          this.speedendy *= -1;
        }
        if (this.endy >= canvas.height - this.radius) {
          this.speedendy *= -1;
        }
      };
    }

    for (var i = 0; i < nodeCount; i++) {
      var node = new Node();
      nodes.push(node);
    }

    function animate() {
      context.clearRect(0, 0, canvas.width, canvas.height);
      for (var i = 0; i < nodeCount; i++) {
        nodes[i].move();
      }
      requestAnimFrame(animate);
    }

    animate();
  }
};
</script>
