<template>
<footer class="footer">
  <div class="container">
    <!-- <p>Content</p> -->
    <p class="text-center">
      <small>
         	&#9400;221b
      </small>
  </p>
  </div>
</footer>
</template>

<style>
nav.bg-white {
  background-color: white;
}
</style>
