<template>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- <a class="navbar-brand" href="/">221B</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Policies" aria-label="Search">
        <button class="btn btn-outline-cus my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form> -->
    </div>
  </div>
</nav>
</template>

<style>
.btn-outline-cus {
  border-color: #0d305a;
  color: #0d305a;
}
</style>
